@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme {
    --font-poppins: var(--font-poppins);
    --font-openSans: var(--font-openSans);

    --animate-tapeMotion: tapeMotion 20s linear infinite;
    --animate-reverseTapeMotion: reverseTapeMotion 20s linear infinite;

    @keyframes tapeMotion {
        0% {
            transform: translateX(-50%);
        }

        100% {
            transform: translateX(0%);
        }
    }

    @keyframes reverseTapeMotion {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-50%);
        }
    }

    --animate-slideDown: slideDown 0.8s ease-in-out;

    @keyframes slideDown {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    --animate-slideUp: slideUp 0.8s ease-in-out;

    @keyframes slideUp {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    --animate-slideRight: slideRight 0.8s ease-in-out;

    @keyframes slideRight {
        0% {
            opacity: 0;
            transform: translateX(-20px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    --animate-slideLeft: slideLeft 0.8s ease-in-out;

    @keyframes slideLeft {
        0% {
            opacity: 0;
            transform: translateX(20px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

@layer base {
    p {
        font-family: var(--font-openSans);
    }

    h1,
    h2,
    h3 {
        font-family: var(--font-poppins);
    }

}

/*.hero-glow { */
*/
/*     @apply w-[680px] h-[680px] rounded-full bg-[radial-gradient(circle_at_center, rgba(242, 224, 223, 0.9)_0%, rgba(242, 224, 223, 0.3)_40%, transparent_60%)] absolute; */
/* } */


html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
