@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme {
    --font-poppins: var(--font-poppins);
    --font-openSans: var(--font-openSans);
}

@layer base {
    p {
        font-family: var(--font-openSans);
    }

    h1,
    h2,
    h3 {
        font-family: var(--font-poppins);
    }

}

/*.hero-glow { */
*/
/*     @apply w-[680px] h-[680px] rounded-full bg-[radial-gradient(circle_at_center, rgba(242, 224, 223, 0.9)_0%, rgba(242, 224, 223, 0.3)_40%, transparent_60%)] absolute; */
/* } */


html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
